$section-padding-medium: 24vh 1.5rem;

//Import colors
@import '_colors';

//Import Bulma
@import './node_modules/bulma/bulma.sass';

//font
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
$fontLato: 'Lato';

body {
  font-family: $fontLato;
  background-color: $dark;
}

//Main navbar styles
#main-navbar {
  background-color: $dark;
  height: 0rem;

  .navbar-brand {
    min-height: unset;
  }

  //Style is-active class
  .navbar-item.is-active {
    color: $primary;
  }

  //Burger menu close btn
  span {
    color: $white;
  }
}

.home-section {
  padding: $section-padding-medium;
}

.section {
  .card-content {
    h1 {
      padding: 0.3rem;
    }
  }
}

.checkbox:hover, .radio:hover {
  color: inherit !important;
}

.bm--card-equal-height {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.bm--card-equal-height .card-footer {
  margin-top: auto;
}