//Colors
$turquoise: #80CC41;
$primary: #80CC41;
$dark: #1C1C1C;
$white: #D0D0D0;
$card-background-color: #f3f3f3;
$section-padding-medium: 25vh 1.5rem;
//Import Bulma
@import './node_modules/bulma/bulma.sass';

//font
@import url('https://fonts.googleapis.com/css?family=Lato:400,900');
$fontLato: 'Lato';

html {
  background-color: $dark;
}

body {
  font-family: $fontLato;
  background-color: $dark;
}

.navbar {

  @media screen and (max-width: $desktop - 1px) {
    top: 0.8rem;
  }

  background-color: transparent;

  img {
    max-height: 2.75rem;
  }
  
  .navbar-item.is-active {
    color: $dark;

    @media screen and (max-width: $desktop - 1px) {
      background-color: $primary;
    }
  }

  span {
    color: $white;
  }

  .navbar-menu{
    @media screen and (max-width: $desktop - 1px) {
      background-color: $primary;
    }

    a.navbar-item:hover {
      background-color: $dark;
      color: $white;
    }
  }
}

.topbar {
  min-height: unset;
  height: 1.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.home-section {
  padding: $section-padding-medium;
}

.section {
  .card-content {
    h1 {
      padding: 0.3rem;
    }
  }
}

.scrollDown {
  transition: ease-in-out 1s;
  background-color: $dark;
  top: 0 !important;
}